*{
    margin:0;
    padding:0;
    list-style:none;
}

body{
    font-size: 16px;
    font-family:'Raleway', sans-serif;;
}

#wrapper{
    width: 100%;
}

#banner{
    width: 100%;
    height: 100vh;
    background-position: center center;
    background: url(resimler/dark_tint.jpg),url(resimler/trafik.jpg);
    background-size: cover;
    position: relative;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

header{
    margin: 0 auto;
    position: absolute;
    width: 100%;
    align-self: flex-start;
}

#altbaşlik{
    color: white;
    font-size: 3em;
    margin-bottom: 20px;
}

.yazi p{
    color:white;
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 50px;

}

header h1{
    position: absolute;
    font-size: 1.5em;
    margin-left: 30px;
    top: 30px;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    float: left;
}

.menu ul{
    position: absolute;
    float: right;
    right: 20px;
    top:0;
}
.menu li{
    display: block;
    padding: 30px;
    float: left;
}
#baş{
    text-align: center;
}

.menu li a{
    font-size: 18px;
    text-decoration: none;
    color: rgb(184, 184, 184);
    font-weight: 100;
}

.menu li a:hover{
    color: white;
    transition: color 0,2 ease-in-out;
}

#button{
    text-decoration: none;
    font-size: 1em;
    color: white;
    padding: 15px 40px;
    border-radius: 20px;
    background:#3cadd4;
    border: 0px solid;
}

#button a:hover{
    background: #61ce1e;
    transition: background-color 0,2 ease-in-out;
}

section #orta1{
    width: 100%;
    background: #f5f5f5;
    padding: 100px 0px;
    text-align: center;
    margin-bottom: 0.5em;
}

#orta1 h2{
    color:#474747;
    font-size: 3em;
    font-weight: 900;
    line-height: 1em;
    margin-bottom: 0.5em;
}

#orta1 h2 + p{
    color: #858585;
    font-size: 1.3em;
    margin-bottom: 1em;
}

#container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.kutu{
    flex-basis: 300px;
    flex-shrink: 0;
    flex-grow: 1;
    background: #474747;
    text-align: center;
    padding: 20px 0;
    margin-right: 20px;
    align-self: flex-start;
}

#ortam1 .kutu :nth-last-child(1){
    margin-right: 0;
}

.kutu h3{
    margin: 20px 0;
    color: #b9b6b6;
    font-size: 1,3em;
    font-weight: 700;
}

#orta2{
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #d1d1d1;
    box-sizing: border-box;
    text-align: center;
    padding-top: 80px;
    display: block;
}

#orta2 h2{
    font-size: 2.5em;
    margin-bottom: 20px;
    color:#474747;
    font-weight: 900;

}
#orta2 h2 +p{
    font-size: 1.3em;
    margin-bottom: 80px;
    color: #858585;
}
#people{
    width: 100%;
    border-top:1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
}
.kişi{
    flex-basis: 220px;
    margin: 50px 10px ;
    text-align: left;
    flex-grow: 1;
}

.kişi img{
    float: left;
    width: 100px;
    border: 0px solid;
    border-radius: 50%;
    margin: 5px 10px ;
}

.kişi h4{
    margin-top: 20px;
    font-size: 1.1em;
    margin-bottom: 5px;
}

.kişi p{
    font-size: 0.9em;
    margin-bottom: 5px;
}

#orta2 .kişi +p{
    margin: 50px auto;
    width: 70%;
    font-size: 1em;
    line-height: 1.6em;
    color: #444;
}

#button2{
    background: #3cadd4;
    border-radius: 30px;
    border: 0px;
    cursor: pointer;
    display: inline;
    font-weight: 400;
    padding: 1em 2em;
    text-align: center;
    margin-top: 30px;   
    max-width: 80%;
    color: #fff;

}

#orta3{
    width: 100%;
    display: block;
    background: #3cadd4;
    padding: 70px 0px 10px;
    text-align: center;
    margin-top: 20px;
}

#orta3 h2{
    font-size: 3em;
    color: white;
    margin-bottom: 20px;
}

#orta3 h2 + p{
    font-size: 1.4em;
    color: white;
    letter-spacing: 2px;
}

#orta3 #contanier .form{
    width: 600px;
    margin: 70px auto;
}

.form input[type=text]{
    width: 200px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    padding: 3px 10px;
    color: #444;
    font-size: 1em;
    margin-bottom: 25px;
}

.form input[type=email]{
    width: 200px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    padding: 3px 10px;
    color: #444;
    font-size: 1em;
    margin-bottom: 25px;
}
.form input textarea{
    width: 630px;
    height: 250px;
    border: 0;
    border-radius: 5px;
    padding: 3px 10px;
    color: #918f8f;
    font-size: 1em;
    margin-top: 40px;
    top: 15px;
}

#gönder{
    margin-top: 70px;
    font-size: 1.1em;
    padding: 15px 50px;
    background: #383b43;
    border: none;
    border-radius: 30px;
    cursor: pointer;

}

#gönder:hover{
    background: #61ce1e;
    transition: background-color 0.2 ease-in-out;
}


footer{
    width: 100%;
    background: #383b43;
    padding: 30px 0;
}

footer #container{
    border-bottom: 1px solid #979797;
    margin-top: 50px;
}
.footer_kutu{
    margin-left: 20px;
    width: 200px;
}

footer h3{
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 20px;
}

footer #container ul{
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

footer #container ul a{
    color: #cdced0;
    text-decoration: none;
    font-size: 0.9em;
    line-height: 2,5em;

}

footer #container ul a:hover{
    text-decoration: underline;
}

#sosyal{
    max-width: 1000px;
    margin: 0 auto;
}

#lisans{
    width: 100%;
    margin: 20px auto;

}

#lisans p{
    color: #585858;
    float: left;
    margin-top: 15px;
    display: inline-block;
}

#icon{
    float: right;

}

#icon a{
    text-align: center;
    width: 25px;
    height: 25px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    font-size: 1.5em;
    cursor: pointer;

}

.temizle{clear: both;
}

#icon #face{
    background-color: #39599f;
}

#icon #x{
    background-color: #2daae4;
}

#icon #insta{
    background-color: #cf0cb5;
}

#icon a{
    text-decoration: none;
    color: white;
    margin: 5px;
}

@media screen and (max-width:980px){
    #banner{
        height: 60vh;
    }
    
    #altbaşlik{
        font-size: 2em;
    }
    .yazi p{
        font-size: 1em;
    }
    #button{
        font-size: 0.8em;
        padding: 10px 25px;
        border-radius: 15px;
    }

    .kutu{
        flex-basis: 100%;
    }
    .kişi{
        flex-basis: 40%;
    }
    .footer_kutu{
        flex-basis: 40%;
        margin: 10px 20px;
    }
}

@media screen and (max-width:600px){
    .kişi{
        flex-basis: 100%;
        text-align: center;
    }
    .kişi img{
        text-align: center;
        float: none;
    }
    .footer_kutu{
        flex-basis: 100%;
        margin: 10px 20px;
        text-align: center;
    }

    #icon{
        clear: both;
        float: none;
    }
    #lisans p{
        float: none;
        margin: 20px auto;
    }
    #sosyal{
        text-align: center;
    }
    #face{
        margin-top: 20px;
    }
    #x{
        margin-top: 20px;
    }
    #insta{
        margin-top: 20px;
    }
    #orta3 #contanier .form{
        width: 100%;
        margin: 70px auto;
    }
    .form input[type=text]{
        width: 80%;
        margin-bottom: 5px;
    }
    .form input[type=email]{
        width: 80%;
        margin-bottom: 5px;
    }
    .form input textarea{
        width: 80%;
        height: 150px;
    }
    #gönder{
       font-size: 1.1em;
       padding: 15px 50px;

    }





}
























